<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/views.css">
    <title>Reset Password</title>
  </head>
  <body>
    <div class="container">
      <div class="design">
        <img src="/img/favicon.ico" alt="">
        <h1>CHATAPP</h1>
      </div>
      <div class="content">
        <div class="cover">
          <div class="form">
            <h3 class="heading">Welcome To ChatApp!</h3>
            <h3 class="secondary-heading">Forgot Your Password?</h3>
            <form>
              <div class="email-input">
                <label for="exampleInputEmail1" class="form-label">Email Address:*</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="exampleInputEmail1"
                  required
                  placeholder="Enter Email-id"
                  name="email"
                >
              </div>
              <div id="email-error"></div>
              <div class="pass-input">
                <label for="exampleInputPassword1" class="form-label">Change Password:*</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  required
                  placeholder="Create Password"
                  name="password"
                >
              </div>
              <div id="password-error"></div>
              <div class="pass-reinput">
                <label for="exampleInputPassword2" class="form-label">Confirm Password:*</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword2"
                  required
                  placeholder="Confirm Password"
                  name="conpassword"
                >
              </div>
              <div class="otp-input">
                <label for="userotp" class="form-label">OTP (Sent to your email)*</label>
                <input
                  type="number"
                  class="form-control"
                  id="userotp"
                  required
                  placeholder="Enter the otp"
                  name="otp"
                >
              </div>
              <div id="otp-error"></div>
              <button type="submit" class="btn-submit">CHANGE PASSWORD</button>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      let emailerror = document.getElementById("email-error");
      let passworderror = document.getElementById("password-error");
      let otperror = document.getElementById("otp-error");
      const form = document.querySelector("form");
      let otp;
      document.getElementById("exampleInputEmail1").addEventListener("change", async (e) => {
        console.log(e.target.value);
        emailerror.innerHTML = "";
        try {
          const res = await fetch("/otp", {
            method: "POST",
            body: JSON.stringify({
              email: e.target.value,
            }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();

          if (data.error) {
            emailerror.innerHTML = data.error.email;
          } else {
            console.log(data.otp);
            otp = data.otp;
          }
        } catch (err) {
          console.log(err);
        }
      });

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        passworderror.innerHTML = "";
        otperror.innerHTML = "";

        const password = form.password.value;
        const conpassword = form.conpassword.value;
        const userotp = form.otp.value;
        const email = form.email.value;

        try {
          const res = await fetch("/forgotpassword", {
            method: "POST",
            body: JSON.stringify({
              email: email,
              otp: otp,
              password: password,
              conpassword: conpassword,
              userotp: userotp,
            }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();

          if (data.error) {
            passworderror.innerHTML = data.error.password;
            otperror.innerHTML = data.error.otpmessage;
          } else {
            location.assign("/login");
          }
        } catch (err) {
          console.log("error occured");
        }
      });
    </script>
  </body>
</html>
