<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/views.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="design">
        <img src="/img/favicon.ico" alt="" />
        <h1>CHATAPP</h1>
      </div>
      <div class="content">
        <div class="cover">
          <div class="form">
            <h3 class="heading">Welcome To ChatApp!</h3>
            <h3 class="secondary-heading">Login</h3>
            <form>
              <div class="email-input">
                <label for="exampleInputEmail1" class="form-label">Email*</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  name="email"
                  placeholder="Enter your Email"
                  required
                />
              </div>
              <div id="email-error"></div>
              <div class="pass-input">
                <label for="exampleInputPassword1" class="form-label">Password*</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  name="password"
                  placeholder="Enter your password"
                  required
                />
              </div>
              <div id="password-error"></div>
              <button type="submit" class="btn-submit">LOG IN</button>
              <div class="forgetpassword">
                <a class="fpassword" href="/forgotpassword">Forgot password?</a>
              </div>
              <div class="go-back">
                <span class="naccount">Do not have an account?</span>
                <a class="signup" href="/signup">SIGN UP</a>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      const emailerror = document.getElementById("email-error");
      const passworderror = document.getElementById("password-error");

      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        emailerror.innerHTML = "";
        passworderror.innerHTML = "";

        const email = form.email.value;
        const password = form.password.value;

        try {
          const res = await fetch("/login", {
            method: "POST",
            body: JSON.stringify({
              email: email,
              password: password,
            }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.error) {
            emailerror.innerHTML = data.error.email;
            passworderror.innerHTML = data.error.password;
          }
          if (data.user) {
            location.assign("/");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
