body {
  background-color: #f4f7f6;
  min-height: 100vh;
  overflow: hidden;
}

.mh-100 {
  min-height: 100vh;
}

.details-bg {
  background-color: #1d8ff229;
}

.border-custom {
  border: 2px solid #1d8ff2;
  outline: none;
}

.text-custom {
  color: #1374f2;
}

.bg-custom {
  background-color: #1d8ff2 !important;
}

.mh-75 {
  min-height: 75vh;
}

.bottom--10 {
  bottom: -25px;
}

.stat-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.btn-custom {
  filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
  border: none;
  font-size: 20px;
  border-radius: 49px;
  cursor: pointer;
}

.card {
  background: #fff;
  transition: 0.5s;
  margin-bottom: 30px;
  width: 100%;
  min-width: 80vw;
}

.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea;
}

.outline-none:focus {
  outline: none !important;
  box-shadow: none !important;
}

.people-list {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer;
}

.people-list .chat-list li .active {
  background: #efefef;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .about { 
  float: left;
  padding-left: 8px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
  margin-top: 50px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message {
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #efefef;
}

.chat .chat-history .my-message:after {
  bottom: 5px;
  left: -10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right;
}

.chat .chat-history .other-message:after {
  border-left-color: #1d8ff2;
  bottom: 5px;
  right: -20px;
}

.chat .chat-message {
  padding: 20px;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  font-size: 0;
  height: 0;
}

.wordwrap{
  overflow-wrap: break-word;
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
    height: 465px;
    width: 100%;
    overflow-x: auto;
    background: #fff;
    left: -400px;
    display: none;
  }

  .chat-app .chat {
    margin: 0;
  }
 
  .chat-app .chat-history {
    height: 300px;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 768px) {
  .chat-app {
    height: 650px;
    min-width: 80vw;
    overflow-x: auto;
  }

  .chat-app .chat-history {
    height: calc(100vh - 170px);
    min-height: 480px;
    overflow-x: auto;
  }

  #online {
    height: 200px;
  }
}

@media (max-height: 611px){
  body{
    overflow: auto;
  }
  
  .chat-app {
    margin-top: 20px;
  }
}

/* This will work on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0000ff #faf8f4;
}

/* Targets on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #efeeeb;
}

*::-webkit-scrollbar-thumb {
  background-color: #2164f3;
  border-radius: 20px;
  border: 3px solid #2164f3;
}