* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100vw;
  display: flex;
}

.design {
  width: 30%;
  background-image: url(/signUp.png);
  background-position: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  display: flex;
  height: 100vh;
}
.design img {
  width: 50px;
  height: 50px;
}

.design h1 {
  color: #1374f2;
  font-size: 3rem;
  padding-left: 12px;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0.055em;
}
.content {
  width: 70%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.go-back {
  position: absolute;
  right: 20px;
  top: 20px;
}
.form {
  height: 500px;
  padding: 5.2rem 4rem;
}

form {
  padding-top: 2rem;
}
.name-input,
.email-input,
.pass-input,
.pass-reinput,
.otp-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  width: 50%;
  height: 45px;
  border: 2px solid #1d8ff2;
  box-sizing: border-box;
  border-radius: 14px;
  margin-bottom: 1rem;
  padding: 1rem;
  outline: none;
  font-size: 18px;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.045em;
  color: #475d75;
  padding-bottom: 0.4rem;
}
.fontsize {
  font-size: 14px;
}
.account,
.naccount {
  font-size: 18px;
  display: inline-block;
  padding-top: 1rem;
  letter-spacing: 0.6px;
}
.login,
.signup {
  text-decoration: none;
  display: inline-block;
  color: #1374f2;
  text-decoration: none;
  border: 2px solid #1374f2;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  transition: 0.4s;
}
.signup:hover,
.login:hover {
  background-color: #1374f2;
  color: white;
}
.heading {
  font-size: 4rem;
  letter-spacing: 0.055em;
  color: #475d75;
  font-weight: 500;
}
.secondary-heading {
  padding-top: 0.4rem;
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 0.04em;
  color: #1374f2;
}

.btn-submit {
  height: 58px;
  padding: 0 3rem;
  filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
  background-color: #1374f2;
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 49px;
  cursor: pointer;
  transition: 0.4s;
}
.btn-submit:hover {
  color: #1374f2;
  background-color: white;
  border: 2px solid #1374f2;
}
#email-error,
#password-error {
  color: rgb(220, 53, 69);
  font-size: 14px;
}
.forgetpassword {
  margin-top: 10px;
  font-size: 18px;
}
.fpassword {
  text-decoration: none;
  color: black;
}
