/* ################################### STYLING INDEX.HTML ########################################### */
body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: cyan;
}

/* ################################### STYLING HEADER ############################################## */
#header img {
  height: 100px;
  left: 32%;
  position: absolute;
}

#header h2 {
  color: #ed1c24;
  font-size: 79px;
  font-family: Copperplate;
  position: absolute;
  left: 40%;
  top: 4px;
}

.logout {
  display: inline-block;
  position: absolute;
  right: calc(13rem + 4%);
  text-align: center;
  text-decoration: none;
  background-color: rgb(237, 28, 36);
  margin-top: 1.6rem;
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 40px;
}

.logout:hover {
  background-color: rgb(255, 0, 8);
  color: white;
}

#header nav {
  right: 3rem;
  margin-top: 1.4rem;
  position: absolute;
}

#online {
  margin: 0;
  padding: 0;
}

#online li {
  padding: 10px 14px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#online li:hover {
  background-color: #bdbdbd;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 11px;
}

.search-messages {
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
}

.search-messages input {
  display: inline-block;
  text-align: center;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 18px;
  border: 2px solid rgb(255, 0, 8);
}
.search-messages input :focus{
  outline: none;
  border: 0.1px solid rgb(213 213 213);
}
.collapsible {
  background-color: #1a4d5e;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 13rem;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
}

.active,
.collapsible:hover {
  background-color: #05465c;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 13rem;
  border-radius: 10px;
  overflow-wrap: break-word;
}
.uname {
  width: 89%;
  overflow-wrap: break-word;
  display: inline-block;
}

div.content {
  margin-top: 0.3rem;
  padding: 0;
}

/* ############################################ STYLING MAIN ################################## */
#main {
  width: 95%;
  position: absolute;
  top: 11%;
  left: 2.5%;
  height: 80%;
  border-radius: 20px;
  background-color: #1a4d5e;
  padding: 10px;
  overflow: auto;
  border: 8px solid #ed1c24;
  z-index: -1;
}

#main::-webkit-scrollbar {
  width: 0.8em;
  margin: 1em;
}

#main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#main::-webkit-scrollbar-thumb {
  background-color: rgb(6, 168, 168);
  outline: 1px solid rgb(13, 115, 218);
  margin: 0.3em;
  border-radius: 20px;
}

#messages {
  word-wrap: break-word;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
  padding-bottom: 0.7rem;
  border-radius: 20px;
  margin-bottom: 0.8rem;
  clear: both;
  border: 0.1px solid rgb(213 213 213);
  font-weight: 500;
}

.connection {
  text-align: center;
  width: 50%;
  left: 25%;
  position: relative;
}

.messages {
  width: 50%;
  float: left;
  background-color: white;
}
.useridentified {
  float: right;
  background-color: gold;
}
.self {
  color: rgb(0, 0, 255);
  background-color: gold;
  float: right;
}

#feedback {
  padding: 0.5rem 1rem;
  color: rgb(255 255 255);
  text-align: center;
  clear: both;
}

/* ##################################### STYLING FORM ################################# */
#form {
  /* background: rgba(0, 0, 0, 0.15); */
  padding: 0.25rem;
  position: fixed;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: #1a4d5e;
}

#username {
  outline: none;
  border: none;
  padding: auto auto;
  /* margin: 650px 20px 20px;  */
  height: 40px;
  margin: auto 10px;
  width: 200px;
  border-radius: 20px;
  font-family: FontAwesome, Arial;
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 20px;
  margin: auto 10px;
  height: 40px;
  width: 900px;
  font-family: FontAwesome, Arial;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

.btn--send {
  background-color: #ed1c24;
  color: white;
  border: none;
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
  margin-top: 0.3rem;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
}
.time {
  font-size: 0.8rem;
  color: #333;
}

#Not_uploaded {
  background-color: red;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-family: sans-serif;
  border-radius: 20px;
  cursor: pointer;
  width: 130px;
  margin: 0.3rem;
}

#Uploaded {
  background-color: #38b000;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-family: sans-serif;
  border-radius: 20px;
  cursor: pointer;
  width: 170px;
  margin: 0.3rem;
}
