body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,Arial, sans-serif;
  background-color: cyan;
}

#header img {
  height : 110px;
  left : 31%;
  position: absolute;
}

#header h2{
  color: #ed1c24;
  font-size: 83px;
  font-family: Copperplate;
  position: absolute;
  left: 39%;
  top: 5px;
}

#main {
  width: 90%;
  position: absolute;
  top: 12%;
  left: 5%;
  height: 75%;
  border-radius: 20px;
  background-color: #1a4d5e;
  padding: 10px;
  overflow: auto;
  border: 10px solid #ed1c24;
}

#main nav {
  right: 5%;
  top: 22px;
}

#form {
  /* background: rgba(0, 0, 0, 0.15); */
  padding: 0.25rem;
  position: fixed;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: #1a4d5e;
}
#username {
  outline: none;
  padding: auto auto;
  /* margin: 650px 20px 20px;  */
  height: 40px;
  margin: auto 10px;
  width: 200px;
  border-radius: 15px;
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: auto 10px;
  /* margin: 650px 20px 20px; */
  height: 40px;
  width: 900px;
}

#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  word-wrap: break-word;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
  padding-bottom: 0.7rem;
  border-radius: 20px;
  margin-bottom: 0.8rem;
  clear: both;
  border: 0.1px solid rgb(213 213 213);
  font-weight: 500;
}

.connection {
  text-align: center;
  width: 50%;
  left: 25%;
  position: relative;
}

.messages {
  width: 50%;
  float: left;
  background-color: white;
}

.self {
  color: rgb(0, 0, 255);
  background-color: gold;
  float: right;
}

#feedback {
  padding: 0.5rem 1rem;
  color: rgb(255 255 255);
  text-align: center;
  clear: both;
}

.collapsible {
  background-color:#1a4d5e;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #05465c ;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
div.content {
  margin: 4.2rem 0.5rem 0 0;
}

::-webkit-input-placeholder {
  text-align: center;
}
input{
  text-align: center;
}


